body {
    background: #ece9e6;
    background: -webkit-linear-gradient(to right, #ffffff, #ece9e6);
    background: linear-gradient(to right, #ffffff, #ece9e6);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
}

.container{
    position: relative;
    width: 425px;
}

.create_note_container{
    text-align: center;
    position: inherit;
    padding: 40px 10px 80px 10px;
    background-image: linear-gradient(45deg, #fbfeff, #f0ffff, white);
    border-radius: 10px;
    box-shadow: 0px 0px 15px 0px #00000030;
    min-height: 205px;
    width: 100%;
}

.plus_btn_wraper{
    position: relative;
    display: inline-block;
    top: 102px;
    display: none;
}

.plus_btn_wraper span {

}

.plus_btn{
    position: relative;
    border-style: none;
    font-size: 24px;
    padding: 4px 12px 4px 12px;
    border-radius: 50px;
    color: #03a9f4;
    box-shadow: 1px 1px 1px 2px;
    cursor: pointer;
}

.plus_btn span{
    font-size: 18px;
}

.add_note_container{
    display: none;
}

.add_note_container textarea{
    resize: none;
    border: none;
    background-color: #e2f3ff;
    border-radius: 22px;
    padding: 15px;
    color: #626060;
}

.insrt_btn{
    position: relative;
    border-style: none;
    font-size: 18px;
    color: #03a9f4;
    box-shadow: 1px 1px 1px 2px;
    cursor: pointer;
    border-radius: 4px;
    padding: 5px 10px 5px 10px;
    margin-top: 20px;
    margin-bottom: 18px;
}

.get_Item_btn{

}

.del_item_btn{
    position: relative;
    border-style: none;
    font-size: 18px;
    color: #03a9f4;
    box-shadow: 1px 1px 1px 2px;
    cursor: pointer;
    border-radius: 4px;
    padding: 5px 10px 5px 10px;
}

.active{
    display: inline-block;
}

/*
  .display_notes_container{
    position: relative;
    display: inline-block;
    padding: 24px 12px 24px 12px;
    background: #2196f30f;
    color: #00000075;
    font-size: 16px;
    width: 100%;
} 
*/

.display_notes_container{
    padding: 0;
}

.notes_card{
    background-color: #e2f3ff;
    padding: 8px 10px 8px 10px;
    margin-top: -2px;
    box-shadow: 0px -8px 11px 0px #00000024;
    text-align: right;
    color: #706f6f;
    width: 100%;
}

.del_note{
    text-align: right;
    display: inline-block;
    cursor: pointer;
    color: #ff000099;
    font-size: 14px !important;
}

.display_notes{
    text-align: left;
    padding: 5px 8px 10px 8px;
}